h1 {
  color: white;
}



// .category-choice {
//   background: #b7b7b7;
//   padding: 20px;
//   border-radius: 5px;
//   opacity: .4;
//   flex: 0 0 30%;
//   text-align: center;
//   &:hover {
//     opacity: 1;
//     cursor: pointer;
//   }
//   &.active {
//   background: $brand-primary;
//   color: white;
//   opacity: 1;
//   }
// }
