.course-container {

  // flex-wrap: wrap;


  h1 {
    margin-top: 0px;
  }

}


.course-details {
  margin-top: 24px;

  a {
    display: block;
    margin: auto;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }
}
