.result-title {
  margin: 24px;
  margin-bottom: 0px;
  margin-top: 20px;
  font-style: italic;
  font-weight: lighter;
  color: grey;
  p {
    margin-bottom: 0px;
  }
}

.first-card {
  margin-top: 12px;
}

#index-search-box {
  padding: 18px 20px;
  margin-top: 16px;
  margin-bottom: 8px;

  // search field
  .form-control {
    width: 99%;
    height: 42px;
  }
  // button
  input {
    height: 42px;
    width: 20%;
  }
}

.index-search-form {
  display:flex;
  // justify-content: space-between;
}

.index-search-input {
  width: 100%;
  margin-right: 16px;
}

.affix {
  top: 20px;
  z-index: 9999;
}

.filter-container {
  z-index: 10;
  margin-top: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: $blue-sidebar;
  position: fixed !important;
  left:0;
  top: 70 !important;
  height: 100%;
  h3 {
    font-size: 16px;
    padding-bottom: 4px;
    border-bottom: 1px solid #cecece;
  }

  abbr {
    display: none;
  }

  legend, h3 {
    font-size: 16px;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 4px;
    border-bottom: none;
    color: white;
  }

  label {
    font-size: 12px;
    display: inline;

  }
}


.filters-card {
  // border: 0.5px solid #cecece;
  padding-left: 24px;
  padding-right: 24px;
}

.card-course-preview {
  background-color: white;
  padding-top: 0px;
}

.category-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 8px 0;
}

.category-choice {
  font-weight: 350;
  color: white;
  padding: 20px;
  width: 100%;
  border-radius: 0px;
  border: 1px solid white;
  flex: 0 0 30%;
  text-align: center;
  padding: 4px 8px;
  transition: 0.3s ease;
  &:hover {
    opacity: 1;
    cursor: pointer;
    color: #469AE0;
    background-color: white;
    // to be tried
    // color: $green-primary;
    // background-color: white;
    // border: 2px solid $green-primary;

  }
  &.active {
  background: white;
  color: #469AE0;
  opacity: 1;
  // to be tried
  // color: $green-primary;
  // background-color: white;
  // border: 2px solid $green-primary;
  }
}

.category-choice-mobile {

  color: $blue-sidebar;
  margin-right: 5px;
  width: 100%;
  border-radius: 0px;
  border: 2px solid $blue-sidebar;
  flex: 0 0 30%;
  text-align: center;
  padding: 8px 12px;
  transition: 0.3s ease;
  &:hover {
    opacity: 1;
    cursor: pointer;
    color: white;
    background-color: $blue-sidebar;
    // to be tried
    // color: $green-primary;
    // background-color: white;
    // border: 2px solid $green-primary;

  }
  &.active {
  color: white;
  background-color: $blue-sidebar;
  opacity: 1;
  // to be tried
  // color: $green-primary;
  // background-color: white;
  // border: 2px solid $green-primary;
  }
}

.container1 {
  margin-bottom: 8px;
}

input[type=submit] {
  cursor: pointer;
}

.ul-reset {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.filter-item-inner-heading {
  position: relative;
  // padding: 0 0 0 10px;
  padding-right: 30px;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
}

.filter-item-inner-heading.minus:after,
.filter-item-inner-heading.plus:after {
  position: absolute;
  top: 0;
  right: 7.5%;
  font-size: 16px;
}

.filter-item-inner-heading.minus:after {
  // content: "▲";
  content: "-";
}

.filter-item-inner-heading.plus:after {
  // content: "▲";
  content: "+";
}

.filter-attribute-item {
  margin-bottom: 12px;
}

.filter-attribute-list-inner {
  padding: 0 0px 10px;
}

.filter-attribute-item:first-child {
  margin-top: 0;
}

.inherit-all {
  all: inherit;
}

// .filter-mobile {
//   color: rgba()
// }

@media (max-width: 768px) {
  .filter-container {
    display: none;
  }
  .content-right-attributes {
    display: flex;
  }
  .card-content-right {
    border: 0px;
    height: 100px;
  }
}

@media (max-width: 992px) {
  .show-large {
    display: none;
  }

}

@media (min-width: 769px) {
  .filter-mobile {
    display: none;
  }
}

.cards-container {
  margin-top: 16px;
}

@media (max-width: 480px) {

}
