.background {
  background-image: radial-gradient(ellipse farthest-side at 100% 100%,#dbf6c8 20%,#1cafc6 50%,#012690 110%);
  height: 100vh;
}// Specific CSS for your home-page

#banner-typed-text {
  font-size: 120px;
  font-family: '', cursive;
  color: white;
  font-weight: lighter;
  font-family: "Raleway", "Helvetica", "sans-serif";
  text-transform: uppercase;
}

.search-content {
  margin-top: 100px;
}

.search-field {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  height: 50px;
  width: 50%;
  color: darkgray;
}

.simple_form .string .search-field {
  border-radius: none;
}

.simple_form .string .search-field-left {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.more-info-container {
  text-align: center;
  p {
    font-size: 20px;
    font-weight: lighter;
    color: rgba(250, 250, 250, 0.7)
  }
  i {
    font-weight: bolder;
    color: rgba(250, 250, 250, 0.7)
  }
  :hover {
    p {
      color: white;
    }
    i {
      color: white;
    }

  }
}

.more-info {
  margin-top: 80px;

}
