

#banner-typed-text {
  font-size: 120px;
  font-family: '', cursive;
  color: white;
  font-weight: lighter;
  font-family: "Raleway", "Helvetica", "sans-serif";
  text-transform: uppercase;
}

.flexhome {
  display: flex;
  justify-content: spaced-around;
}

.search-content {
  margin-top: 100px;
  height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;


}

.search-field {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  height: 50px;
  width: 100%;
  color: darkgray;
}

.simple_form .string .search-field {
  border-radius: none;
}

.simple_form .string .search-field-left {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.more-info-container {
  text-align: center;
  p {
    font-size: 20px;
    font-weight: lighter;
    color: rgba(250, 250, 250, 0.7)
  }
  i {
    font-weight: bolder;
    color: rgba(250, 250, 250, 0.7)
  }
  :hover {
    p {
      color: white;
    }
    i {
      color: white;
    }
  }
}

.more-info {
  margin-top: 80px;
}

.category-container {
  margin: 24px;
}

.cards-home-all {
  margin-top: 50px;
}

.homecards {
  text-transform: uppercase;
  text-align: center;
  h3 {
    font-weight: 400;
    font-size: 24px;
  }
}

.margin42 {
  padding-left: 42px;

}
.growingform {
display: flex;
flex-direction: row;

}

.form-inline {
  width: 100%;
}

.test {
  display: inline-flex;
}

.form-control {
  width: 100% !important;
}

.criteria_search {
  width: 45vw;
}

.category-choice-home {
  font-weight: 350;
  color: white;
  padding: 20px;
  width: 100%;
  border-radius: 0px;

  flex: 0 0 30%;
  text-align: center;
  padding: 4px 8px;
  transition: 0.3s ease;
  background-color: $blue-sidebar;
  &:hover {
    opacity: 1;
    cursor: pointer;
    color: $blue-sidebar;
    background-color: white;

    // to be tried
    // color: $green-primary;
    // background-color: white;
    border: 2px solid $blue-sidebar;

  }
  &.active {
  background-color: black;
  color: #469AE0;
  opacity: 1;
  // to be tried
  // color: $green-primary;
  // background-color: white;
  // border: 2px solid $green-primary;
  }
}

input[type=submit] {
  cursor: pointer;
}

