

#banner-typed-text {
  font-size: 120px;
  font-family: '', cursive;
  color: white;
  font-weight: lighter;
  font-family: "Raleway", "Helvetica", "sans-serif";
  text-transform: uppercase;
}

.flexhome {
  display: flex;
  justify-content: spaced-around;
}

.search-content {
  margin-top: 100px;
  height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
}

.dividing-text {
  margin: 24px;
}

.search-field {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  height: 50px;
  width: 100%;
  color: darkgray;
}

.simple_form .string .search-field {
  border-radius: none;
}

.simple_form .string .search-field-left {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.more-info-container {
  margin-top: 20px;
  text-align: center;
  p {
    font-size: 20px;
    font-weight: lighter;
    color: rgba(250, 250, 250, 0.7)
  }
  i {
    font-weight: bolder;
    color: rgba(250, 250, 250, 0.7)
  }
}

.more-info {
  text-align: center;
}

.category-container {
  margin: 24px;
}

.cards-home-all {
  margin-top: 50px;
}

.homecards {
  text-transform: uppercase;
  text-align: center;
  h3 {
    font-weight: 400;
    font-size: 24px;
  }
}

.margin42 {
  padding-left: 0px;

}
.growingform {
display: flex;
flex-direction: row;

}

.form-inline {
  width: 100%;
}

.test {
  display: inline-flex;
}

.growingform {
  .form-control {
  width: 100% !important;
  }
}



.criteria_search {
  width: 50vw;
}

.searchbar {
  width: 36vw;
}

.category-choice-home {
  margin-right: 20px;
  flex: 0 0 30%;
  font-weight: 500;
  color: white;
  border-radius: 4px;
  text-align: center;
  transition: 0.3s ease;
  background-color: $blue-sidebar;
  min-height: 40px;
  padding: 16px 10px;
  border: 2px solid $blue-sidebar;
  &:hover {
    opacity: 1;
    cursor: pointer;
    color: $blue-sidebar;
    background-color: white;
    border: 2px solid $blue-sidebar;
  }
  &.active {
    background-color: white;
    color: #469AE0;
    opacity: 1;
    border: 2px solid $blue-sidebar;
  }
}

input[type=submit] {
  cursor: pointer;
}

.centering {
  display: flex;
  justify-content: center;
}

.max_width {
 max-width: 80%;
}

.button-advanced-search {
  font-weight: bold;
  color: white;
  background-color: rgba(250, 250, 250, 0.2);
  border-radius: 4px;
  padding: 12px 20px;
  text-align: center;
  transition: 0.3s ease-in-out;
  border-color: rgba(250, 250, 250, 0.0);
  &:hover {
    color: $green-primary;
    background-color: white;
    text-decoration: none;
  }
}

