.review-profile {
  padding-right: 18px;
  margin-bottom: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.course-image {
  height: 90%;
  width: 100%;
}

.center-text {
  justify-content: center;
}

.review-content {
  padding-left: 20px;
  text-align: justify;
}

.make-it-stick {
  position: sticky !important;
  top: 0 !important;
}
.sticky-parts {
  display: flex;
}

.course-details {
  a {
    display: block;
    margin: auto;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

.align-horizontal {
  justify-content: space-between;
  padding-right: 2%;
}

.course-attributes  {
  display: flex;
  align-items:center;
  justify-content: space-around;
}

.box-horizontal {
  display: flex;
  align-items:center;
  background-color: $light-gray;
  width: 100%;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 4px;
  margin: 16px 0px 8px;
  flex-wrap: wrap;
  // margin-bottom: 8px;
}

.center-align-3-elements {
  text-align: center;
  flex: 0 0 33%;
}

.center-align-4-elements {
  text-align: center;
  flex: 0 0 25%;

}

.add-review {
  margin-top: 40px;
  p {
    margin-bottom: 4px;
    font-weight: 400;
  }
}
