.review-profile {
  padding-right: 18px;
  margin-bottom: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.review-profile p {
   font-size: 10px;
}

.review-content {
  flex: 1;
}

.single-review {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}

.course-info {
  h1 {
    // allows h1 to have the icon in the same line
    display: inline-block;
  }
  h3 {
    font-weight: lighter;
    color: white;
    margin-top: 0px;
  }

  i {
    margin-left: 8px;
    font-size: 32px;
  }

}

.course-description {

  p {
    color: white;
    margin-top: 0px;
    font-weight: regular;
  }

}

.make-it-stick {
  position: sticky !important;
  top: 0 !important;
}
.sticky-parts {
  display: flex;
}

.course-details {
  margin-top: 24px;
  margin-bottom: 24px;

  a {
    display: block;
    margin: auto;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

.reviews {
  border: 0.5px solid #eeeeee;
  padding-left: 8px;
  background-color: white;

  h4 {
    margin-top: 0px;
    margin-bottom: 8px;
  }

  .stars {
    margin-bottom: 8px;
  }
}
a {
  text-decoration: none !important
}

  .by-name {
    margin-top: 4px;
  }




