.main-container {
  margin-bottom: 20px;
  display: flex;
}

.contact-container {
  flex: 0 0 450px;
  height:100%;
  position: sticky !important;
  top: 0 !important;

}

.delete-icon {
  padding-left: 15px;
  color: #333333;
}

