.main-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.contact-container {
  flex: 0 0 450px;
  height:100%;
  position: sticky !important;
  top: 0 !important;
}

.empty-box {
  height: 20px;
}

.review-header {
  h3 {
    // allows h1 to have the icon in the same line
    display: inline-block;
  }

  a {
    margin-left: 8px;
    font-size: 24px;

  }
}



