.main-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.contact-container {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
}

.empty-box {
  height: 20px;
}
