<div class="container-form" style="min-height: calc(100vh - 70px - 131px);">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <div class="box" style="margin-top: 45px">
        <h2>Create new review</h2>
        <%= render 'form' %>
      </div>
    </div>
  </div>
  <div style="height: calc(100vh - 70px - 524px - 122px)"></div>
</div>
