<% if params[:error] != nil %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            <%= params[:error] %>
      </div>
  <% end %>

<div class="container-form" style="min-height: calc(100vh - 70px - 131px);">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <div class="box" style="margin-top: 45px">
        <h2>Create new review</h2>
        <%= render 'form' %>
      </div>
    </div>
  </div>
  <div style="height: calc(100vh - 70px - 524px - 122px)"></div>
</div>
