.background-home {
  background-image: radial-gradient(ellipse farthest-side at 100% 100%,#dbf6c8 20%,#1cafc6 50%,#012690 110%);
  height: calc(200vh - 70px - 164.5px);
}// Specific CSS for your home-page

.background {
  background-color: $gray-background;
  min-height: calc(100vh - 70px - 164.5px);
  height: 100%;
}

.special {
  padding: 0px;
  margin: 0px;
}
