.background-home {
  background-image: radial-gradient(ellipse farthest-side at 100% 100%,#dbf6c8 20%,#1cafc6 50%,#012690 110%);
  height: 100%;

}// Specific CSS for your home-page

.background-home2 {
  background-color: white;
  height: 100%;

}// Specific CSS for your home-page

.background-home3 {
  background-color: $light-gray;
  height: 100%;

}// Specific CSS for your home-page

.background {
  background-color: $gray-background;
  min-height: calc(100vh - 70px - 146.5px);
  height: 100%;
  overflow: hidden;
}

