.title {
  font-weight: normal;
  font-size: 46px;
}

.subtitle {
  font-weight: 400;
  font-size: 32px;
}

.heading {
  font-weight: normal;
  font-size: 32px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.paragraph {
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
}

.small-placeholder {
  height: 20px;
}
