.title {
  font-weight: normal;
  font-size: 36px;
  margin-top: 12px;
  font-style: normal;
}

.subtitle {
  font-weight: 200;
  font-family: "Lato", "sans-serif";
  font-size: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-style: normal;
}

.heading {
  font-weight: normal;
  font-size: 28px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-style: normal;
}

.paragraph {
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
  font-style: normal;
}

.small-placeholder {
  height: 20px;
}

.medium-placeholder {
  height: 30px;
}

.flex {
  display: flex;
  align-items: center;
}

.list-style {
  padding-bottom: 8px;
}

