.title {
  font-weight: normal;
  font-size: 36px;
  margin-top: 12px;
  font-style: normal;
}

.subtitle {
  font-weight: 200;
  font-family: "Lato", "sans-serif";
  font-size: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-style: normal;
}

.heading {
  font-weight: normal;
  font-size: 28px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-style: normal;
}

.subheading {
  font-weight: 200;
  font-family: "Lato", "sans-serif";
  font-size: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-style: normal;
}

.paragraph {
  font-weight: 400;
  font-size: 16px;

  font-style: normal;
}

.small-placeholder {
  height: 20px;
}

.medium-placeholder {
  height: 40px;
}

.flex {
  display: flex;
  align-items: center;
  p {
    margin-bottom: 0px;
  }
}

.list-style {
  padding-bottom: 8px;
}

.indent-next-buttons {
  margin-left: 25px;
  margin-bottom: 25px;
}

.link {
  &:hover {
    text-decoration: none !important;
  }
}

.coursehunt-blue {
  color: #204B97;
}

.emphasized-text {
  color: $green-primary;
  transition: 0.5s ease;

  &:hover {
    color: $green-primary;
  }

  &:focus {
    color: $green-primary;
  }

}

.turbolinks-progress-bar {
  height: 2px;
  color: #204B97;
}


.light-paragraph {
  font-weight: 200;
  color: rgba(250, 250, 250, 0.7);
  font-size: 20px;
}

.margin-padding-box {
  margin-right: 24px;
  margin-left: 24px;
  padding: 12px;

}
