<div class="container">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4" style="margin-top: 50px;">
      <div class="box">
        <%= simple_form_for(@user, :url => "/users/edit_avatar") do |f| %>
          <div class="form-group">
            <div class="flex">
              <%= f.input :avatar %>
              <%= f.input :avatar_cache, as: :hidden %>
            </div>
          </div>
          <%= f.button :submit, "Add new avatar picture", class: "button-green-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
