<div class="col-xs-12 col-md-6 col-lg-3">
  <div class="box category-box">
    <div class="category-card">
      <div class="category-card-content">
          <div class="category-card-image" style="background: linear-gradient(
      rgba(220,220,220, 0.3), 
      rgba(220,220,220, 0.3)), url(<%= image_path(image) %> );">

          </div>
          <div class="category-card-footer">
              <h3>  <%=  "#{category_name}"  %> </h3>
              <p><%= "#{count} courses" %> </p>
          </div>
      <!-- category-card-content -->
      </div>
    </div>
  <!-- Box -->
  </div>
<!-- col -->
</div>






