<div class="footer">

  <div class="footer-section">
    <h3>
      About us
    </h3>
    <div>
      <p>
       It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      </p>
    </div>
  </div>

  <div class="footer-section">
    <h3>
      Get in touch
    </h3>
    <div class="footer-section-links">
      <div>
        <a href="/">Facebook</a>
      </div>
      <div>
        <a href="/">Instagram</a>
      </div>
      <div>
        <a href="/">Github</a>
      </div>
      <div>
        <a href="mailto:contact@coursehunt.io">Contact</a>
      </div>
    </div>
  </div>

  <div class="footer-section">
    <h3>Popular Destinations</h3>
   <div>
      <%=link_to "Milan", "https://en.wikipedia.org/wiki/Milan" %>
    </div>
    <div>
      <%=link_to "St. Tropez", "https://en.wikipedia.org/wiki/Saint-Tropez" %>
    </div>
  </div>


  <div class="footer-section">
    <h3>
      Our Partners
    </h3>
    <div class="footer-section-links">
      <div>
        <a href="/about">Udemy</a>
      </div>
      <div>
        <a href="/blog">EdX</a>
      </div>
      <div>
        <a href="/stack">Udaycity</a>
      </div>
    </div>
  </div>

</div>

