<div class="footer">

  <div class="footer-section">
    <h3>
      About us
    </h3>
    <div>
      <p>
       We are constantly improving our platform in order to match out customers with the best courses possible!
      </p>
    </div>
  </div>

  <div class="footer-section">
    <h3>
      Get in touch
    </h3>
    <div class="flex">
      <div class="icons-rolling">
        <a href="#"> <i class="fab fa-facebook-f"></i> </a>
      </div>
      <div class="icons-rolling">
        <a href="mailto:contact@coursehunt.io"> <i class="fas fa-envelope"></i> </a>
      </div>
      <div class="icons-rolling">
        <a href="https://github.com/alexreichhardt/courseapp"> <i class="fab fa-github"></i> </a>
      </div>
      <div class="icons-rolling">
        <a href="#"> <i class="fab fa-linkedin"></i> </a>
      </div>
    </div>
  </div>

  <div class="footer-section">
    <h3>
      Our Partners
    </h3>
    <div class="footer-links flex">
      <div>
        <div>
          <div>
            <a href="https://www.udemy.com/" target="_blank">Udemy</a>
          </div>
          <div>
            <a href="https://www.edx.org/" target="_blank">EdX</a>
          </div>
        </div>
      </div>
      <div style="margin-left: 15%;">
        <div>
          <div>
            <a href="https://www.futurelearn.com/" target="_blank">Futurelearn</a>
          </div>
          <div>
            <a href="https://eu.udacity.com/" target="_blank">Udacity</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

