<div class="footer">
  <div class="row">
    <div class="footer-column col-xs-12 col-md-4" >
    <h3>Follow us</h3>
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-facebook-square"></i></a>
      <a href="#"><i class="fab fa-twitter-square"></i></a>
    </div>
    <div class="footer-column col-xs-12 col-md-4" id="left">
      <h3>Popular Destinations</h3>
      <ul>
        <li>
          <%=link_to "Milan", "https://en.wikipedia.org/wiki/Milan" %>
          </li>
        <li>
          <%=link_to "St. Tropez", "https://en.wikipedia.org/wiki/Saint-Tropez" %>
        </li>
      </ul>
    </div>
    <div class="footer-column col-xs-12 col-md-4">
      <h3>Navigate</h3>
      <ul>
        <li>
        <%=   link_to "Home", root_path %></li>
        <li>
          <%if user_signed_in?%>
            <%= link_to 'Profile page', user_path(current_user.id)%>
           <%end%>
        </li>
      </ul>
    </div>
  </div>
</div>
