.card {
  background-color: rgba(250, 250, 250, 1);
  padding: 20px;
  border-radius: 2px;
}
.card-tab {
  background-color: white;
  border-radius: 0px 0px 4px 4px;
  margin-top: 0px;
}

.card-header {
  h3 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.card-avatar {
  display: flex;
  justify-content: space-around;
}

.card-avatar-content{
  text-align: center;
  width: 90%
}

.card-result {
  margin-bottom: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
}
.card-icons {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  color: black;
}

.icons {
  display: flex;
  align-items: center;

  font-size: 16px;
  font-weight: lighter;
  i {
    padding-left: 5px;
    padding-right:5px;
  }
  p {
    margin-bottom: 0px;
  }
}

.homecards {
  box-shadow: none;
  text-transform: uppercase;
  text-align: center;
  margin: 10px;
  h3 {
    font-weight: 400;
    font-size: 24px;
  }
}

.card-description {
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
}

.card-content {
  margin-bottom: 15px;
  display:flex;
  border-radius: 2px;
  background-color: rgba(250, 250, 250, 1);
  min-height: 175px;

}

.card-content-left {
  width: 80%;
  padding: 15px;
}

.card-content-right {
  padding: 15px;
  padding-top: 23px;
  padding-left: 20px;
  width: 20%;
  position: relative;
  background-color: #EDECEC;
  border-radius: 0px 2px 2px 0px;

}

.card-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
