.card {
  background-color: rgba(250, 250, 250, 0.8);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 1px 1px 10px grey;
}
.card-tab {
  background-color: rgba(250, 250, 250, 0.8);
  border-radius: 4px;
  box-shadow: 1px 1px 10px grey;
}

.card-header {
  h3 {
    margin-top: 8px;
    margin-bottom: 0px;
  }
}

.card-avatar {
  display: flex;
  justify-content: space-around;
}

.card-avatar-content{
  text-align: center;
  width: 90%
}

.card-result {
  margin-bottom: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
}
.card-icons {
  display: flex;
  padding: 5px;
  color: black;
}

.icons {
  display: flex;
  align-items: center;

  font-size: 16px;
  font-weight: lighter;
  i {
    padding-left: 5px;
    padding-right:5px;
  }
  p {
    margin-bottom: 0px;
  }
}

.homecards {
  box-shadow: none;
  text-transform: uppercase;
  text-align: center;
  margin: 10px;
  h3 {
    font-weight: 400;
    font-size: 24px;
  }
}
