
<div class="wrapper-header">


</div>

<div class="container-categories">
  <div class="category-row">

    <%= category_card("Webdevelopment", 500) %>
    <%= category_card("Cybersecurity", 230) %>
    <%= category_card("Software Engineering", 153) %>
    <%= category_card("Databases", 567) %>

  </div>
</div>




