
<!-- blue header -->
  <div class="wrapper-header">
    <div class="container">
      <div class="header-content">
        <h1>Browse all categories</h1>
        <p>Explore different fields of computer science such as Software Engineering, Computer Security or Database Management</p>
      </div>
    </div>
  </div>


  <div class="container-categories">
     <div class="medium-placeholder">
    </div>
    <div class="container">
      <div class="row">
        <div class="categories-section">
          <div class="category-header">
            <i class="far fa-heart"></i>
            <p>Most Popular</p>
          </div>
          <hr>
          <div class="category-row">
            <% @top_categories_count.each do |category| %>
              <div class="col-xs-12 col-md-6 col-lg-3">
                <%= render 'shared/category', category_name: category[1][0], image: category[1][1], count: category[1][2]  %>
              </div>
            <% end %>
          </div>
        </div>


        <div class="categories-section">
          <div class="category-header">
            <i class="fas fa-globe"></i>
            <p>All</p>
          </div>
          <hr>
          <div class="category-row">
            <% @categories.each do |category| %>
              <div class="col-xs-12 col-md-6 col-lg-3">
                <%= render 'shared/category', category_name: category[1][0], image: category[1][1], count: category[1][2]
                %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <!-- container categories -->
  </div style="margin-bottom: 50px;  "    >

  <div class="picture" style="display:none;">
    <%=image_tag("preview") %>
  </div>


