<main class="main" role="main">
  <div class="wrapper cf">

    <aside class="sidebar">
      <h1 class="sidebar-heading">
        Filter by
      </h1>
      <ul class="filter ul-reset">
        <li class="filter-item">
          <section class="filter-item-inner">
            <h3 class="filter-item-inner-heading minus"> Knowledge level
            </h3>
            <ul class="filter-attribute-list ul-reset">
              <div class="filter-attribute-list-inner">
                <li class="filter-attribute-item>
                  <%= label_select(@levels, "beginner") %>
                </li>
                <li class="filter-attribute-item">
                  <%= label_select(@levels, "intermediate") %>
                </li>
                <li class="filter-attribute-item">
                  <%= label_select(@levels, "advanced") %>
                </li>
              </div>
            </ul>
          </section>
        </li>
      </ul>
    </aside>
  </div>
</main>
