.avatar-sm {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.avatar-md {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.avatar-md-lg {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.avatar-lg {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}
