.box {
  background-color: white;
  padding: 24px;
  border-radius: 2px;
  margin: 24px;
}

.box-flex {
  background-color: white;
  padding: 24px;
  padding-left: 32px;
  border-radius: 2px;
  margin: 24px;
  display: flex;
}

.box-flex-index {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 2px;
  margin: 24px;
  display: flex;
  flex-direction: column;
}
