.box {
  background-color: white;
  padding: 24px;
  border-radius: 2px;
  margin: 24px;
}

.box-flex {
  background-color: white;
  padding: 20px;
  border-radius: 2px;
  margin: 24px;
  display: flex;
}
