.button-green-primary {
  color: white;
  background-color: $green-primary;
  border-radius: 1px;
  padding: 8px 12px;
  text-align: center;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  border: 2px solid $green-primary;
  &:hover {
    color: $green-primary;
    background-color: white;
    border: 2px solid $green-primary;
    text-decoration: none;
  }
}

.button-green-primary-landing {
  height: 50px;
  width:  100px;
  color: white;
  background-color: $green-primary;
  border-radius: 1px;
  padding: 8px 12px;
  text-align: center;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  border: 2px solid $green-primary;
  border-bottom: 0px solid $green-primary;
  border-top: 1px solid $green-primary;
  &:hover {
    color: $green-primary;
    background-color: white;
    border: 2px solid $green-primary;
    border-bottom: 2px solid $green-primary;
    border-top: 2px solid $green-primary;
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }
}



.button-green-secondary {
  color: $green-primary;
  background-color: white;
  border: 2px solid $green-primary;
  border-radius: 1px;
  padding: 8px 12px;
  text-align: center;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  &:hover {
    color: white;
    background-color: $green-primary;
    text-decoration: none;
  }
}

.button-red-secondary {
  color: $red-primary;
  background-color: white;
  border: 2px solid $red-primary;
  border-radius: 1px;
  padding: 8px 12px;
  text-align: center;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  &:hover {
    color: white;
    background-color: $red-primary;
    text-decoration: none;
  }
}

.button-white-sidebar {
  color: $blue-sidebar;
  background-color: white;
  border-radius: 1px;
  padding: 8px 12px;
  text-align: center;
  font-weight: bold;
  border: 2px solid white;
  transition: 0.3s ease-in-out;
  &:hover {
    color: white;
    background-color: $blue-sidebar;
    border: 2px solid white;
    text-decoration: none;
  }
}



