
.card-medium {
  min-height: 200px;
}

.card-tab {
  background-color: white;
  border-radius: 0px 0px 4px 4px;
  margin-top: 0px;
}

.card-avatar {
  display: flex;
  justify-content: space-around;
}

.card-avatar-content{
  text-align: center;
  width: 90%
}

.card-result {
  margin-bottom: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
}

.card-content-left {
  width: 80%;
  padding-right: 20px;
}

.card-content-right {
  padding-left: 15px;
  width: 20%;
  position: relative;
  border-radius: 0px 2px 2px 0px;
  border-left: 2px dashed $light-gray;

}

.card-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
