.card {
  background-color: rgba(250, 250, 250, 0.8);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 3px grey;
}

.card-icons {
  display: flex;
  padding: 5px;
  color: black;
}

.icons {
  display: flex;
  padding: 10px;
}
