.container-categories {
  width: 1200px;
  margin: 0 auto;
  margin-top: 24px;
}

.category-box {
  padding: 16px;
  margin: 0px;
}

.category-card {
  padding: 0px;
  margin: 0px;
  height: 240px;
  h3 {
    margin-top: 0;
    padding: 8px;
    margin-bottom: 0;
    font-size: 16px;
  }

  p {
    margin-top: 0;
    padding: 8px;
  }


}


.category-card-image{
    background-image: url('https://cdn.dribbble.com/users/13307/screenshots/3522736/web_site_design_teaser.jpg');
    background-size: cover;
    background-position: center;
    height: 170px;
    position: relative;
}


.category-card-footer {
    // display: flex;
    // justify-content: space-between;
    padding-top: 12px;
}
