.filter-selectors {

}

.filter-container {
  margin-top: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: rgba(255, 255, 255,0.1);
  position: sticky !important;
  top: 0 !important;
  height: 75vh;


  h3 {
    font-size: 24px;
    padding-bottom: 4px;
    border-bottom: 1px solid #cecece;
  }

  abbr {
    display: none;
  }

  legend, h3 {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 4px;
    border-bottom: none;
    color: white;
  }

  label {
    font-size: 16px;
  }

  .form-check-input {
  margin-right: 8px;


}

}

.results-row {
  .container {
    padding-right: 160px;
  }
}

.results-row > .col-xs-12.col-md-2 {
  padding-left: 0px;
  padding-right: 0px;
}

.filters-card {
  // border: 0.5px solid #cecece;
  padding-left: 24px;
}

.card-course-preview {
  background-color: white;
  padding-top: 0px;
}

.category-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 8px 0;
}

.category-choice {
  // background: rgba(255, 255, 255,0.1);
  color: white;
  padding: 20px;
  width: 100%;
  border-radius: 0px;
  border: 1px solid white;
  // opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  padding: 4px 8px;
  transition: 0.3s ease;
  &:hover {
    opacity: 1;
    cursor: pointer;
    color: #469AE0;
    background-color: white;
  }
  &.active {
  background: white;
  color: #469AE0;
  opacity: 1;
  }
}
