.footer {
  padding-right: 55px;
  padding-left: 55px;
  position: static;
  bottom: 0;
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 300;
  color: #333333;
  background-color: #f9fcfc;
  height: auto;
  h3 {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #333333;
  }
  a {
    color: #CCCCCC;
    font-size: 16px;
  }
  a:hover {
    text-decoration: none;
    color: #333333;
  }
  p {
    opacity: 0.5;
    font-size: 16px;
    text-align: left;
  }
}

.footer-section {
  width: 33%;
  padding: 0px 40px;
  text-align: justify;
  padding-bottom: 20px;
}

.footer-links {
  display: flex;
  a {
  color: #333333;
  opacity: 0.5;
  text-decoration: none;
    &:hover {
      opacity: 1;
    }
  }
}

@media (max-width: 768px) {
    .footer-section {
      flex: 0 0 66% !important;
      padding-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .footer-section {
      flex: 0 0 100% !important;
    }
}


