
.deviselabels {
  padding:20px;
  font-size: 30px;
}

.footer-form {
  padding-top: 15px;
}

.form-font {
  font-size: 15px;
}

.form-font .action-link {
  color:#424141;
  &:hover {
    text-decoration: none;
    color:#FD6E65;
  }
}

.flexbox-form {
  display: flex;
  padding-left: 45px;
}

.form-content-right {
  margin-left: 20px;
}

.form-content-left {
  margin-right:30px;
}

#form-location {
  display: block;
  margin-bottom: 15px;
}

.form-wrapper .simple_form .string .form-control {
  width: 50%;
  height: 50px;
  background-color: rgba(350, 300, 300, 0.94);
  color: black;
  font-family: "Lato", "sans-serif";
  border: 2px solid white;
  border-radius: 0px;
}

.form-landing {
  display:flex;
  justify-content: space-around;
}

.form-wrapper {
  margin-top: 30px;
}

.alternative {
  margin-top: 15px;
  p {
    color: #777777;
    font-size: 14px;
    margin-bottom: 6px;
  }
  a {
    font-weight: bold;
    color: #777777;
    font-size: 14px;
    &:hover {
      color: $green;
    }
  }
}


.deleteaccount {
  a {
    &:hover {
      color: $red-primary;
    }
  }
}

