.icon-next {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 300;
  i {
    padding-left:5px;
    padding-right:5px;
  }
  p {
    margin-bottom: 0px
  }
}

.icon-under {
  text-align: center;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 300;
  i {
    padding-left:5px;
    padding-right:5px;
  }
  p {
    margin-bottom: 0px
  }
}

.horizontal-icons {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  color: #333333;
}


.single-icon {
  font-size: 32px;
  &:hover {
    color: rgba(11, 63, 150, 0.8);
  }
}

.stars {
  padding-left: 15px;
  color: #FDB32B;
}

.stars-index {
  color: #FDB32B;

}

.icon {
  width: 30px;
}


.bookmark-background a {
    position: relative;
    top: 5px;
}

.single-icon-index {
  font-size: 28px;
  &:hover {
    color: rgba(11, 63, 150, 0.8);
  }
}

.bookmark-background {
  box-shadow: 0px 1px 1px lightgrey;
  height: 50px;
  width: 36px;
  background-color: rgba(230, 230, 230, 1);
  border-radius:0px 0px 1px 1px;
  padding-bottom: -10px;
  margin-right: 24px;
  margin-top: -21px;
  text-align: center;

}



