.icon-next {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 300;
  i {
    padding-left:5px;
    padding-right:5px;
  }
  p {
    margin-bottom: 0px
  }
}

.icon-under {
  text-align: center;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 300;
  i {
    padding-left:5px;
    padding-right:5px;
  }
  p {
    margin-bottom: 0px
  }
}

.horizontal-icons {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  color: #333333;
}


.single-icon {
  font-size: 32px;
  &:hover {
    color: rgba(11, 63, 150, 0.8);
  }
}

.stars {
  padding-left: 15px;
  color: #FDB32B;
}

.icon {
  width: 30px;
}
