.tabs {
  display: flex;
}
.tabs a {
  color: gray;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: lightgrey;
  flex: 0 0 50%;
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  h3 {
    margin-bottom: 0px;
    padding-right: 5px;
  }
}
.tab:first-child {
  border-radius: 0px 0 0 0;


}
.tab:last-child {
  border-radius: 0 0px 0 0;
}
.tab.active {
  background: white;
  color: $dark-gray;
  border-top: 2px solid $green;
  // border-right: 2px solid black;
  // border-bottom: 0px solid black;
  // border-left: 2px solid black;
}

.show {
  display: block
}

.hide {
  display: none;
}




